.btncont{
    margin: auto;
    text-align: center;
}
.answer-button{
    display: block;
    margin: auto;
    margin-top: 0.5rem;
}
.mycont{
    width: 100vw;
    min-height: 100vh;
}



.mycont{
    max-width: 100%;
    min-height: 100vh;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#loading{
    display: none;
    height: 1rem;
}